*
{
    padding: 0;
    margin: 0;
    direction: rtl;
}
/*------fonts------*/
@font-face {
    font-family: vazir;
    src: url("fonts/Vazir-Thin.woff") format("woff");
}
/*----------header css----------*/
.header
{
    width: 100%;
    height: 225px;
    background: black;
    display: flex;
}
.full-header
{
    width: 11%;
    height: 100%;
    margin: auto;
    background: black;
}
.full-header img
{
    height: 201px;
    width: 190px;
    position: absolute;
    top: -23px;
}
/*.------css menu-----------*!*!*/
.section-menu
{
    width: 100%;
    height: 353px;
    background: white;
    display: flex;
    position: relative;
    border-top-right-radius: 38px;
    border-top-left-radius: 38px;
    top: -45px;
}
.menu-icon
{
    width: 80%;
    height: 80%;
    margin: auto;
}
.menu-icon ul li
{
    display: inline-block;
    width: 159px;
    height: 187px;
    margin-right: 31px;
    position: relative;
    top: 8px;
    box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 28px;
}
.menu-icon ul
{
    width: 100%;
    height: 83%;
    position: relative;
    top: 29px;
    right: 33px;
}
.item1
{
    height: 147px;
    width: 146px;
    margin: auto;
    border-radius: 68px;
}
.item1 img
{
    width: 103px;
    height: 92px;
    position: absolute;
    right: 21px;
    top: 31px;
}
.div-item
{
    width: 142px;
    height: 40px;
    margin: auto;
    position: absolute;
    right: 9px;
}
.div-item p
{
    color: black;
    position: absolute;
    right: 16px;
    top: 7px;
    font-family: vazir, serif;
}
/*--------text cafe----------*/
.text-cafe
{
    width: 74%;
    height: 113px;
    margin: auto;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    top: -49px;
    position: relative;
}
.text-cafe h1
{
    padding-top: 33px;
    font-size: 25px;
    text-align: center;
}
/*-------------css coffee bar ------------*!*/
.bar-coffe
{
    width: 100%;
    height: 517px;
}
.bar-cafe-div
{
    width: 75%;
    height: 71%;
    margin: auto;
    position: relative;
    top: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #302727;
}
#span-bar
{
    width: 75%;
    height: 33px;
    margin: auto;
}
#span-bar h2
{
    text-align: center;
    background: antiquewhite;
    width: 100%;
    height: 34px;
    border-top-right-radius:20px ;
    border-top-left-radius: 20px;
}
.bar-cafe-right
{
    width: 50%;
    height: 100%;
    float: right;
}
.bar-cafe-left
{
    width: 50%;
    height: 100%;
    float: left;
}
.menu-bar
{
    width: 100%;
    height: 182px;
    border: 1px gray solid;
}
/*----------class menu---------*/
.img-menu
{
    width: 29%;
    height: 87%;
    float: left;
    position: relative;
    top: 13px;
}
.img-menu img
{
    width: 100%;
    height: 100%;
}
.name-menu
{
    width: 71%;
    height: 69%;
}
.name-menu h3
{
    font-family: 'vazir', serif;
    width: 50%;
    height: 41%;
    text-align: center;
    position: relative;
    right: 116px;
    font-size: 28px;
    color: aliceblue;
}
.name-menu h5
{
    position: relative;
    top: 31px;
    width: 83%;
    height: 48px;
    font-size: 15px;
    right: 11px;
    font-family: 'vazir', serif;
    color: aliceblue;
}


/**/


